@model Animals.Models.GetAllHomeViewModel

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Homes</h2>

<table class="table table-striped">
    <tr>
        <th>Id</th>
        <th>Home Name</th>
        <th>Animals</th>
    </tr>
    @foreach (var home in Model.Homes)
    {
        <tr>
            <td>@home.Id</td>
            <td>@home.Name</td>
            <td>
                <ol>
                    @foreach (var animal in home.Animals)
                    {
                        <li>@animal.Name (@animal.Type)</li>
                    }
                </ol>
            </td>
        </tr>
    }
</table>
